/* Home Page CSS */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #f8f8f8;
    border-bottom: 1px solid #ddd;
}

.header h1 {
    margin: 0;
}

.logout {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.logout-icon {
    width: 30px;
    height: 30px;
}

.form-container {
    display: flex;
    justify-content: space-between;
    margin: 20px;
    gap: 20px; /* Aggiunto gap per spazio tra form */
}

.form-box {
    overflow-y: auto;
    max-height: 300px;
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    flex: 1; /* Permette ai form di occupare lo stesso spazio */
}

.form-box h2 {
    margin-top: 0;
}

.images-scrollbox {
    max-height: 100px;
    overflow-y: auto;
    width: 100%; /* aggiungi questa proprietÃƒÂ  */
    margin-bottom: 10px;
    display: flex; /* aggiungi questa proprietÃƒÂ  */
}

.form-box::-webkit-scrollbar {
    width: 10px; /* Scrollbar width */
    background-color: #f5f5f5; /* Scrollbar background color */
}

.form-box::-webkit-scrollbar-thumb {
    background-color: var(--normal-gossamer); /* Scrollbar thumb color */
    border-radius: 10px; /* Rounded scrollbar thumb */
}

.form-box::-webkit-scrollbar-track {
    background-color: #f5f5f5; /* Scrollbar track background color */
    border-radius: 10px; /* Rounded scrollbar track */
}

.image-row {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.image-checkbox {
    margin-right: 10px;
}

.image-info {
    display: flex;
    flex-direction: column;
}

.image-title {
    font-weight: bold;
}

.image-id {
    font-size: 0.8em;
    color: gray;
}

.albums-container {
    display: flex;
    justify-content: space-between;
    margin: 20px;
    gap: 20px; /* Aggiunto gap per spazio tra album */
}

.user-albums, .others-albums {
    max-height: 300px; /* Set a fixed height to trigger scrolling */
    overflow-y: auto; /* Enable vertical scrolling */
    flex: 1; /* Permette ai contenitori degli album di occupare lo stesso spazio */
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.user-albums::-webkit-scrollbar, .others-albums::-webkit-scrollbar {
    width: 10px; /* Scrollbar width */
    background-color: #f5f5f5; /* Scrollbar background color */
}

.user-albums::-webkit-scrollbar-thumb, .others-albums::-webkit-scrollbar-thumb {
    background-color: var(--normal-gossamer); /* Scrollbar thumb color */
    border-radius: 10px; /* Rounded scrollbar thumb */
}

.user-albums::-webkit-scrollbar-track, .others-albums::-webkit-scrollbar-track {
    background-color: #f5f5f5; /* Scrollbar track background color */
    border-radius: 10px; /* Rounded scrollbar track */
}

.album-container-home {
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.album {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.album a {
    text-decoration: none;
    color: inherit;
    display: flex;
    align-items: center;
}

.album-icon {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.album-title {
    margin: 0;
    font-size: 1.2em;
}

.album-user {
    font-size: 0.9em;
    color: gray;
    margin-left: 10px;
}

.no-albums {
    text-align: center;
    color: gray;
}
