/* Modal Styles */
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5); /* Black w/ opacity */
    overflow-y: auto; /* prevent vertical scrolling */
}

.modal-content {
    background-color: #fefefe;
    margin: 10% auto; /* 10% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
    border-radius: 10px; /* Rounded corners */
}


.alert-box {
    position: fixed; /* Cambiato a fixed per centrare rispetto alla finestra */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    background-color: var(--creamy-white);
    padding: 20px;
    border: 2px solid var(--dark-gossamer);
    border-radius: 10px;
    display: none; /* Non visibile per default */
    font-family: 'Roboto', sans-serif; /* Font importato da Google Fonts */
    font-size: 1rem;
    line-height: 1.5;
    color: #212529;
    box-shadow: 0 1rem 3rem rgba(0,0,0,0.175); /* Effetto ombra */
    text-align: center;
    max-width: 300px; /* Larghezza massima dell'alert box */
}

.alert-box .alert-icon {
    font-size: 3rem;
    color: var(--dark-gossamer);
    margin-bottom: 10px;
}

.alert-box .alert-message {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.alert-box .alert-submessage {
    font-size: 1rem;
}

.alert-box .btn {
    margin-top: 20px;
}

.content {
    display: flex;
    justify-content: space-between;
    margin: 20px; /* Space between the title and content, and on sides */
}

.image-container {
    flex: 0 1 40%; /* Adjusted size to allow space between containers */
    margin-right: 2%; /* Space between image-container and side-container */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.full-image {
    width: 100%;
    height: auto;
    border-radius: 20px; /* Rounded corners */
}

.side-container {
    flex: 0 1 40%; /* Adjusted size to allow space between containers */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.info-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 20px;
    margin-bottom: 20px;
    height: 200px;
    max-height: 200px;
    width: 100%; /* Ensure full width of the container */    
    max-width: 400px; /* Prevent vertical expansion */
    overflow: auto;
}

.info-container::-webkit-scrollbar {
    width: 10px; /* Scrollbar width */
    background-color: #f5f5f5; /* Scrollbar background color */
}

.info-container::-webkit-scrollbar-thumb {
    background-color: var(--normal-gossamer); /* Scrollbar thumb color */
    border-radius: 10px; /* Rounded scrollbar thumb */
}

.info-container::-webkit-scrollbar-track {
    background-color: #f5f5f5; /* Scrollbar track background color */
    border-radius: 10px; /* Rounded scrollbar track */
}

.delete-form {
    display: block;
    margin: auto
}

.comments-container {
    display: flex;
    flex-direction: column;
    height: 300px; /* Set a fixed height */
    max-height: 300px; /* Prevent vertical expansion */
    width: 100%; /* Ensure full width of the container */    
    max-width: 400px; /* Prevent vertical expansion */
    border: 1px solid var(--normal-gossamer); /* Border color matching global.css */
    background-color: var(--creamy-white); /* Background color */
    overflow-y: hidden; /* Disable vertical scrollbar */
}

.comments-wrapper {
    display: flex;
    flex-direction: column;
    height: 300px; /* Set a fixed height */
    max-height: 300px; /* Prevent vertical expansion */
    width: 100%; /* Ensure full width of the container */    
    max-width: 400px; /* Prevent vertical expansion */
    overflow-y: auto; /* Enable vertical scrollbar */
}

.comments-container h3 {
    margin-bottom: 10px;
}

.comments p {
    margin: 0;
    padding: 5px 0;
    word-wrap: break-word; /* Ensure long comments wrap to the next line */
}

.comments-wrapper::-webkit-scrollbar {
    width: 10px; /* Scrollbar width */
    background-color: #f5f5f5; /* Scrollbar background color */
}

.comments-wrapper::-webkit-scrollbar-thumb {
    background-color: var(--normal-gossamer); /* Scrollbar thumb color */
    border-radius: 10px; /* Rounded scrollbar thumb */
}

.comments-wrapper::-webkit-scrollbar-track {
    background-color: #f5f5f5; /* Scrollbar track background color */
    border-radius: 10px; /* Rounded scrollbar track */
}

.comment-form {
    display: flex;
    align-items: center;
    padding: 10px; /* Space between the border and the form */
}

.comment-form textarea {
    flex: 1;
    width: auto;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid var(--normal-gossamer);
    resize: none;
    margin-right: 10px; /* Space between textarea and button */
}

.comment-form button {
    flex-shrink: 0; /* Prevents the button from shrinking */
    padding: 10px 20px;
}
